$breakpoint_md: 743px;
$breakpoint_lg: 1199px;

$white: #ffffff;
$gray: #a8a8a8;
$gray2: #a6a6a6;
$dark-gray: #575f6f;
$dark-blue: #131e34;
$dark: #262626;

$poppins: "Poppins", sans-serif;
$blinker: "Blinker", sans-serif;
$sora: "Sora", sans-serif;
