@import "./fonts.scss";
@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
a {
  color: $black;
  line-height: normal;
}

p {
  line-height: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

section {
  padding-bottom: 120px;
}

@include tablet {
  h1,
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  section {
    padding-bottom: 100px;
  }
}

@include phone {
  h1,
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  section {
    padding-bottom: 70px;
  }
}
