$breakpoint_md: 767px;
$breakpoint_lg: 1199px;

$black: #000;
$white: #fff;
$gray: #605e5a;
$light-gray: #a7a7a7;
$light-brown: #efece2;
$blacky: #232323;
$sand: #e2ce7b;

$roboto: "Roboto", sans-serif;
$oswald: "Oswald", sans-serif;
$inter: "Inter", sans-serif;
$source-sans: "Source Sans Pro", sans-serif;
$raleway: "Raleway", sans-serif;
